html, body {
    height: 100%;
}

body {
    background-color: #fffffe;
}

#flexdiv {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#header {
    flex: 0 1 auto;
}

main {
    flex: 1 1 auto;
    /*
      flex-grow: 0,
      flex-shrink: 1,
      flex-basis: auto

      https://stackoverflow.com/a/24979148
    */
    font-size: 1em;
}

main h1#content-title {
    text-align: center;
    color: #545454;
}


#footer {
    //background-color: #dcdcdc;
    flex: 0 1 auto;
    text-align: center;
    padding: 1%;
}

#header {
    margin: 2% 10% 2% 10%;
    text-align: center;
    border-bottom: 2px solid #666666;
}


#header a {
    text-decoration: none;    
}


#header-site-name {
    color: #666666;
}

.header-nav-item {
    padding: 2%;
    color: #3b3b3b;
}

.header-nav-item:visited {
    color: #3b3b3b;
}

.fullscreen-centered p {
    text-align: center;
    font-weight: bold;
    padding-top: 15%;
}

#content-container {
    max-width: 70%;
    margin: auto;
}

#content-container h1,
#content-container h2,
#content-container h3,
#content-container h4,
#content-container h5,
#content-container h6 {
    color: #565656;
}

.post-summary, .post-title{
    margin: 0 5% 0 5%;
}

.post-title a{
    color: #666666;
    text-decoration: none;    
}

#summary {
    text-align: center;
}
